* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    color: #fff;
    line-height: 1.6;
    background-image: url('IMGAbout.jpeg');
    background-size: cover;
    background-position: center;
    background-attachment: fixed; 
    position: relative; 
}

body::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6); 
    z-index: -1; 
}

header {
    position: fixed; 
    top: 0; 
    width: 100%; 
    z-index: 1000; 
    background-color: rgba(51, 51, 51, 0.3);
    backdrop-filter: blur(5px);
    color: #000000;
    padding: 10px 20px;
    text-align: right;
}

nav ul {
    list-style-type: none;
}

nav ul li {
    display: inline;
    margin-left: 20px;
}

nav ul li:last-child {
    margin-left: 0;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 16px;
    transition: color 0.3s;
    text-align: right;
}

nav ul li a:hover {
    color: #ddd;
}

nav ul li b {
    color: #494949;
    text-decoration: none;
    font-size: 16px;
    transition: color 0.3s;
    text-align: right;
}

nav ul li b:hover {
    color: #e2e2e2;
}

.dropdown-container {
    position: fixed;
    top: 60px; 
    right: 40px;
    z-index: 1000;
}

.dropdown-button {
    border: none;
    background-color: transparent;
    cursor: pointer;
}

.button-image {
    width: 50px; 
    height: 50px;
    border-radius: 50%;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #000000;
    min-width: 100px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    right: 10px;
}

.dropdown-content a {
    display: block;
    padding: 10px;
    text-decoration: none;
    color: #ffffff;
}

.dropdown-content a:hover {
    background-color: #000000;
}

.show {
    display: block;
}

.hero {
    color: #fff;
    padding: 200px 20px;
    text-align: center;
    position: relative; 
}

.hero h1 {
    font-size: 48px;
    margin-bottom: 20px;
}

.hero p {
    font-size: 18px;
    margin-bottom: 5px;
}

.scroll-down {
    text-align: center;
    margin-top: 20px;
}

.scroll-down p {
    color: #fff;
    font-size: 16px;
}

.scroll-down p:hover {
    cursor: pointer;
    text-decoration: underline;
}

.arrow-down {
    border: solid #fff;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 10px;
    transform: rotate(45deg);
}

.subheader-section {
    margin-top: 130px; 
}

.subheader {
    font-size: 50px; 
    text-align: right; 
    padding-right: 150px;
}

.subtext {
    font-size: 16px;
    text-align: right;
    padding-right: 100px;
    line-height: 1.6; 
    max-height: calc(16px * 10); 
    overflow: hidden; 
}

.more-section {
    margin-top: 350px; 
    margin-bottom: 200px;
}

.more {
    font-size: 50px;
    text-align: right; 
    padding-right: 100px;
}

.moretext {
    font-size: 16px;
    text-align: right;
    padding-right: 100px;
    line-height: 1.6; 
    max-height: calc(16px * 10); 
    overflow: hidden; 
}

.moretext-2 {
    font-size: 13px;
    text-align: right;
    padding-right: 150px;
    line-height: 1.6; 
    max-height: calc(16px * 10); 
    overflow: hidden; 
}

.moretext-1 {
    font-size: 14px;
    font-style: italic;
    text-align: right;
    padding-right: 130px;
    line-height: 1.6; 
    max-height: calc(16px * 10); 
    overflow: hidden; 
}

footer {
    background-color: rgba(51, 51, 51, 0.3);
    backdrop-filter: blur(5px);
    color: #fff;
    text-align: center;
    padding: 5px;
}

#back-to-top {
    display: none;
    position: fixed;
    bottom: 200px;
    left: 50px;
    background-color: #000000;
    color: #a1a1a1;
    padding: 5px 15px;
    border-radius: 5px;
    text-decoration: none;
    transition: opacity 0.3s ease-in-out;
}

#back-to-top:hover {
    opacity: 0.8;
}

.logo-container {
    position: absolute;
    top: 7px;
    left: 10px;
}

.logo {
    width: 33px;
    height: 30px;
}
